<div class="footer">
    <div class="footer_column">
        <p>
            Copyright &copy; 2025
            <br />
            Devidas K. Godse
            <br />
        </p>
    </div>
    <div class="footer_column">
        <p>
            <a href="/blogroll">blogroll</a>
            <br />
            <a href="/construction">uses</a><br />
        </p>
    </div>
    <div class="last">
        <p>
            <a href="https://github.com/{{site.github_username}}"
                >github</a
            ><br />
            <a href="https://devidaskgodse.github.io/feed.xml">rss</a><br />
        </p>
    </div>
</div>
