<div class="footer">
    <div class="contact">
        <p>
            Copyright &copy; 2025 Devidas K. Godse
            <br />
            PhD. Researcher at
            <a href="https://ese.iitb.ac.in/">DESE</a>,
            <a href="https://www.iitb.ac.in/">IIT Bombay</a>
            <br />
            devidaskgodse@gmail.com
        </p>
    </div>
    <div class="contact">
        <p>
            <a href="https://github.com/devidaskgodse"
                >github.com/devidaskgodse</a
            ><br />
            <a href="https://twitter.com/devidaskgodse"
                >twitter.com/devidaskgodse</a
            ><br />
            <a href="https://www.linkedin.com/in/devidaskgodse"
                >linkedin.com/in/devidaskgodse</a
            ><br />
        </p>
    </div>
    <div class="rss">
        <p>
            <a href="/construction">RSS</a><br />
            <a href="/construction">blogroll</a>
            <br />
            <a href="/construction">uses</a>
        </p>
    </div>
</div>
